/* Custom css */
body{
	background : #eee;
}
header, main{
	padding-left: 300px;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
.timespan{
	font-size: .8em;
}
.sidenav-trigger i{
	/*margin-top: 20px;*/
}
.center-logo{
	left: 50%;
}